<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This Is Index</title>
</head>

<body>

    <form action="sub" method="POST">

        <input type="text" name="username">

        <input type="submit" value="add">


    </form>
    <ul>
        <li>dfsdfs</li>
    </ul>


</body>

</html>